body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: space-around;
  background-color: #1a1a1a; /* Dark background */
  color: #fff; /* White text */
}

h1 {
  font-size: 36px;
}

section {
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  background: linear-gradient(to bottom, #222 0%, #444 100%); /* Gradient background */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); /* Box shadow */
  position: relative;
}

section:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://source.unsplash.com/random');
  background-size: cover;
  opacity: 0.2;
  z-index: -1;
  border-radius: 20px;
}

/* Set up Grid */
div.widgets {
  display: grid;
  grid-template-columns: 1fr 345px 345px 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    ". clock-button clock-button ."
    ". clock clock ."
    ". autocomplete  autocomplete ."
    ". tabs weather .";
}

.clock-toggle {
  margin-top: 20px;
  max-width: 150px;
  display: flex;
  justify-content: space-around;
  grid-area: clock-button;
}

.tabs-section {
  grid-area: tabs;
}

.weather-section {
  grid-area: weather;
}

.clock-section {
  grid-area: clock;
}

.autocomplete-section {
  grid-area: autocomplete;
}

/* Clock */
.clock,
button {
  font-family: 'Orbitron', sans-serif;
  color: #fff; /* White text */
  background-color: #522315; /* Dark orange */
  border: none;
  border-radius: 15px;
  padding: 10px;
  font-size: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); /* Box shadow */
}

.button:hover {
  transform: translateY(-2px);
}

.clock {
  font-size: 28px;
  width: 550px;
  height: 94px;
  margin: 0 20px 20px 20px;
  padding: 10px;
  background: linear-gradient(to right, #5a2a22 0%, #000000 100%); /* Gradient background */
  position: relative;
}

.clock:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%); /* Radial gradient */
  opacity: 0.5;
  z-index: -1;
  border-radius: 20px;
}

.clock p {
  margin: 12px;
  display: flex;
  justify-content: space-between;
}

/* Tabs */

.tab-header {
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
}

.tab-header>li {
  width: 33%;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  background: linear-gradient(to right, #492723 0%, #ff5c4f 100%); /* Gradient background */
  box-shadow: 0 5px 10px rgba(255, 92, 79, 0.3); /* Box shadow */
}

.tab-header>li:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.tab-header>li:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.tab-header>li:hover {
  background: linear-gradient(to right, #10191e 0%, #000000 100%); /* Gradient background */
  box-shadow: 0 5px 10px rgba(3, 169, 244, 0.3); /* Box shadow */
}

.tab-header>li.active {
  font-weight: bold;
  background: linear-gradient(to right, #2b2b2b 0%, #003c5740 100%); /* Gradient background */
}

.tabs {
  width: 240px;
}

.tab-content {
  font-weight: bold;
  color: #fff; /* White text */
  height: 192px;
  margin: 0 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #747474 0%, #001e2d 100%); /* Gradient background */
}

/* AutoComplete */

.auto {
  font-weight: bold;
  position: relative;
}

.auto>input {
  padding: 10px;
  border-radius: 15px;
  margin-top: 5px;
  background: linear-gradient(to right, #222 0%, #444 100%); /* Gradient background */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); /* Box shadow */
  color: #fff; /* White text */
}

.auto li {
  cursor: pointer;
}

.auto-dropdown {
  position: absolute;
  background: linear-gradient(to right, #222 0%, #444 100%); /* Gradient background */
  border-radius: 15px;
  left: 10px;
  top: 35px;
  padding: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); /* Box shadow */
}
